body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(207, 179, 213, 1) 34%, rgba(198, 180, 216, 1) 44%, rgba(148, 187, 233, 1) 100%);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none; 
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue; 
}

section {
    width: 100%;
    padding-left: 8%;
}
.secao {
    padding-top: 8%;
    padding-right: 2%;
}

.moldura_videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}